

.main-wrapper {
  margin-top: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: fit-content;

  @media (max-width: 920px) {
    flex-direction: column;
    gap: 15px;
  }

  .left-side, .right-side {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 13px 0 #0000000D;
    padding: 40px 35px 51px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    @media (max-width: 920px) {
      align-items: center;
      padding: 30px;
    }
  }

  .left-side {
    .line {
      background-color: #000;
      height: 1px;
      width: 100%;
      opacity: 50%;
    }

    .contact-div {
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      line-height: 21px;

      .contact-div-title {
        display: flex;
        gap: 16px;
        align-items: center;
        p {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }

  .right-side {
    height: auto;
    padding: 40px 32px;
    gap: 24px;

    .input-group {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      input {
        flex: 1;
        min-width: 100%;
        padding: 13px 16px;
        border-radius: 4px;
        background-color: #F5F5F5;
        border: none;
        outline: none;
      }
    }

    .message-input {
      textarea {
        width: 100%;
        height: 150px;
        padding: 13px 16px;
        border-radius: 4px;
        background-color: #F5F5F5;
        border: none;
        resize: none;
      }
    }

    .submit-wrapper {
      display: flex;
      justify-content: flex-end;

      button {
        padding: 12px 40px;
        border-radius: 4px;
        background: black;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: 0.2s;
        border: 1px solid transparent;

        &:hover {
          background: white;
          color: black;
          border: 1px solid black;
        }
      }
    }
  }
}

