.discount_container {
  padding: 56px 160px 56px 160px;
  display: grid;
  gap: 32px;

  @media screen and (max-width: 1440px) {
    padding: 56px 100px 56px 100px;
  }

  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discount-title {
    transform: translate(173px, 0);
    width: fit-content;

    @media screen and (max-width: 1680px) {
      transform: translate(63px, 0);
    }

    @media screen and (max-width: 1440px) {
      transform: translate(3px, 0);
    }

    @media screen and (max-width: 992px) {
      transform: translate(0, 0);
    }

    @media screen and (max-width: 452px) {
      font-size: 22px;
    }
  }

  .products-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    justify-content: center;

    @media screen and (max-width: 992px) {
      grid-template-columns: 308px 308px;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 268px 268px;
    }

    @media screen and (max-width: 430px) {
      grid-template-columns: 198px 198px;
    }
  }
}