.main-wrapper{
 top: 198px;
  bottom: 275px;
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 78px;
  .inside-content{
   align-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
   h1{
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Inter', sans-serif;
     font-weight: 500;
     font-size: 110px;
     line-height: 115px;
     @media screen and (max-width: 1024px){
       font-size: 90px;
       text-align: center;
     }
     @media screen and (max-width: 768px){
       font-size: 70px;
     }
     @media screen and (max-width:   576px){
       font-size: 40px;
     }
     @media screen and (max-width: 365px){
       font-size: 30px;
     }

   }
   p{
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Poppins', sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     @media screen and (max-width: 1024px){
       font-size: 15px;
       text-align: center;
     }

     @media screen and (max-width: 768px){
       font-size: 13px;
     }
     @media screen and (max-width: 365px){
       font-size: 12px;
     }
   }

 }
  .btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    a{
      text-decoration: none;
    }
    .btn{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 2px solid black;
      padding: 16px 48px;
      text-decoration: none;
      background-color: black;
      p{
        font-family: 'Poppins', sans-serif;
        color: white;
        text-decoration: none;
      }
    }
  }


}