* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-wrapper {
  background-color: #000;
  color: #fff;
  padding: 60px 20px;
  width: 100%;
  position: relative;
  font-family: SF Pro Display, sans-serif;


  @media (max-width: 768px) {
    padding: 40px 0 20px;
    width: 100%;
    position: relative;
  }

  @media (max-width: 480px) {
    padding: 30px 0 15px;
  }

  .footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      position: relative;
    }

    @media (max-width: 480px) {
      width: 95%;
    }

    .footer-column {
      width: 30%;
      margin-bottom: 30px;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;

        &:first-child {
          order: 1;
        }

        &:nth-child(2) {
          order: 2;
        }

        &:nth-child(3) {
          order: 3;
        }
      }

      @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 30px;
        padding: 0 10px;
      }

      .footer-title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
        position: relative;

        @media (max-width: 480px) {
          font-size: 24px;
          margin-bottom: 15px;
        }
      }

      .footer-description {
        margin-bottom: 25px;
        max-width: 90%;
        font-family: SF Pro Display, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 32px;


        @media (max-width: 768px) {
          max-width: 100%;
          margin: 0 25px;
        }

        @media (max-width: 480px) {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }

      .footer-heading {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        position: relative;

        @media (max-width: 480px) {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }

      .footer-links {
        color: #CFCFCF;

        @media (max-width: 768px) {
          padding-left: 0;
          list-style: none;
          color: #CFCFCF;
        }

        li {
          margin-bottom: 12px;

          @media (max-width: 480px) {
            margin-bottom: 10px;
          }

          a {
            color: #CFCFCF;
            text-decoration: none;
            transition: all 0.2s ease;
            font-size: 14px;
            position: relative;

            @media (max-width: 480px) {
              font-size: 13px;
            }

            &:hover {
              opacity: 1;
              padding-left: 5px;
            }

            &:before {
              content: '›';
              opacity: 0;
              position: absolute;
              left: -10px;
              transition: all 0.2s ease;
            }

            &:hover:before {
              opacity: 1;
              left: -5px;
            }
          }
        }
      }
    }

    .middle-column {
      padding-left: 20px;

      @media (max-width: 768px) {
        padding-left: 20px;
      }

      @media (max-width: 480px) {
        padding-left: 10px;
      }
    }
  }

  .social-icons {
    display: flex;
    gap: 15px;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;

    @media (max-width: 768px) {
      margin: 25px auto;
      justify-content: center;
      width: 100%;
      padding-top: 20px;
    }

    @media (max-width: 480px) {
      gap: 10px;
      padding-top: 15px;
    }

    .social-icon {
      color: #fff;
      transition: all 0.3s ease;
      padding: 8px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 16px;
        height: 16px;

        @media (max-width: 480px) {
          width: 24px;
          height: 24px;
        }
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateY(-3px);
      }
    }
  }
}
