.container {
  width: 1120px;
  margin: 0 auto;

  @media only screen and (max-width: 1280px) {
    width: 1000px;
  }

  @media only screen and (max-width: 1168px) {
    width: 900px;
  }

  @media only screen and (max-width: 1024px) {
    width: auto;
    padding-inline: 50px;
  }

  @media only screen and (max-width: 768px) {
    padding-inline: 25px;
  }
}

