.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 136px;
  width: 100%;
  gap: 32px;
  box-sizing: border-box;
}
.product-container .category-nav {
  display: flex;
  width: 1120px;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
@media (max-width: 1150px) {
  .product-container .category-nav {
    max-width: 836px;
  }
}
@media (max-width: 850px) {
  .product-container .category-nav {
    max-width: 552px;
  }
}
@media (max-width: 576px) {
  .product-container .category-nav {
    max-width: 456px;
  }
}
@media (max-width: 476px) {
  .product-container .category-nav {
    display: none;
  }
}
.product-container .category-nav h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #8B8B8B;
  cursor: pointer;
}
.product-container .category-nav h2:hover {
  color: #000000;
}
.product-container .category-nav .new-arrival-heading {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
.product-container .nav-mobile {
  display: none;
}
.product-container .nav-mobile button {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.product-container .nav-mobile .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 8px;
  font-size: 18px;
}
@media (max-width: 476px) {
  .product-container .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
}
.product-container .product-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
@media (max-width: 1150px) {
  .product-container .product-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 850px) {
  .product-container .product-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
.product-container .new-arrival-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F6F6F6;
  padding: 24px 16px 24px 16px;
  box-sizing: border-box;
  border-radius: 9px;
  height: 432px;
  width: 268px;
}
@media (max-width: 576px) {
  .product-container .new-arrival-item {
    max-width: 220px;
    max-height: 400px;
  }
}
@media (max-width: 476px) {
  .product-container .new-arrival-item {
    max-width: 163px;
    max-height: 352px;
  }
}
.product-container .new-arrival-item .arrivals-heart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.product-container .new-arrival-item .arrivals-heart .heart-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.product-container .new-arrival-item figure {
  margin: 0;
  padding: 0;
}
.product-container .new-arrival-item figure img {
  width: 160px;
  height: 164px;
  object-fit: contain;
}
@media (max-width: 576px) {
  .product-container .new-arrival-item figure img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 476px) {
  .product-container .new-arrival-item figure img {
    max-width: 104px;
    max-height: 104px;
    margin-top: 8px;
  }
}
.product-container .new-arrival-item .new-arrival-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 236px;
  height: 88px;
  margin-top: 16px;
}
@media (max-width: 576px) {
  .product-container .new-arrival-item .new-arrival-info {
    width: 100%;
  }
}
@media (max-width: 476px) {
  .product-container .new-arrival-item .new-arrival-info {
    width: 100%;
    margin-top: 8px;
  }
}
.product-container .new-arrival-item .new-arrival-info h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.product-container .new-arrival-item .new-arrival-info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  height: 48px;
}
@media (max-width: 577px) {
  .product-container .new-arrival-item .new-arrival-info p {
    height: 72px;
  }
}
@media (max-width: 476px) {
  .product-container .new-arrival-item .new-arrival-info p {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
  }
}
.product-container .new-arrival-item .buy-btn {
  width: 188px;
  height: 48px;
  background: #000000;
  gap: 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 24px;
  cursor: pointer;
}
@media (max-width: 476px) {
  .product-container .new-arrival-item .buy-btn {
    width: 140px;
    height: 48px;
    padding: 12px 20px;
    margin-top: 16px;
  }
}
.product-container .new-arrival-item .buy-btn:hover {
  background: #FFFFFF;
  color: #000000;
}

/*# sourceMappingURL=NewArrivals.module.css.map */
