.new-arrival_container {
  width: 1120px;
  margin: 56px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (max-width: 1280px) {
    width: 1000px;
  }

  @media screen and (max-width: 1168px) {
    width: 900px;
  }

  @media screen and (max-width: 1024px) {
    width: auto;
    padding-inline: 50px;
  }

  @media screen and (max-width: 576px) {
    width: auto;
    padding-inline: 25px;
  }

  .text-side {
    display: flex;
    gap: 32px;
    color: #8b8b8b;
    width: fit-content;

    h3 {
      font-family: "Inter", sans-serif;
      cursor: pointer;
      transition: all 0.3s;
      color: black;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;

      &:hover {
        color: black;
      }
    }
  }

  .products-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
