

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
  margin-top: 56px;
  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .new-arrival-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #F6F6F6;
      padding: 24px 16px 24px 16px;
      box-sizing: border-box;

      .new-arrival-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 236px;

        h3{
          font-weight: 600;
          font-size: 24px;
          line-height: 24px;
          text-align: center;
          color: #000000;
        }
        p{
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #000000;
        }
      }
    }

    .buy-btn {
      background-color: #000000;
      border-radius: 8px;
      height: 48px;
      width: 188px;
      color: #FFFFFF;
      cursor: pointer;
      margin-top: 24px;
      &:hover{
        background: #FFFFFF;
        color: #000000;
        transition: all 0.2s;
      }
    }
  }
}


