

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 136px;
  width: 100%;
  gap: 32px;
  box-sizing: border-box;
  .category-nav{
    display: flex;
    width: 1120px;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    @media(max-width: 1150px){
      max-width: 836px;
    }
    @media(max-width: 850px){
      max-width: 552px;
    }
    h2 {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: #8B8B8B;
      cursor: pointer;
      &:hover {
        color: #000000;
      }
    }
    .new-arrival-heading {
      color: #000000;
      text-decoration: underline;
      text-underline-offset: 3px;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }
  }
  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    @media (max-width: 1150px){
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 850px){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .new-arrival-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    padding: 24px 16px 24px 16px;
    box-sizing: border-box;
    border-radius: 9px;
    height: 432px;
    width: 268px;
    @media (max-width: 576px) {
      max-width: 220px;
      max-height: 400px;
    }
    .arrivals-heart {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      .heart-btn {
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }

    figure {
      margin: 0;
      padding: 0;

      img {
        width: 160px;
        height: 164px;
        object-fit: contain;
        @media (max-width: 576px) {
          width: 120px;
          height: 120px;
        }
      }
    }

    .new-arrival-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 236px;
      height: 88px;
      margin-top: 16px;
      @media (max-width: 576px) {
        width: 100%;

      }
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #000000;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
      }
    }

    .buy-btn {
      width: 188px;
      height: 48px;
      background: #000000;
      gap: 8px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 24px;
      cursor: pointer;
      &:hover {
        background: #FFFFFF;
        color: #000000;
      }
    }
  }
}