.item {
  width: 100%;
  height: 432px;
  border-radius: 9px;
  padding: 24px 16px;
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  //box-shadow: inset 2px 4px 16px  #F6F6F6;
  background: #F6F6F6;
  .like-button {
    align-self: flex-end;
    background: transparent;
    border: none;
    .like-img {
      width: 32px;
      height: 32px;
      opacity: 0.5;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        transition: 0.2s;
        opacity: 1;
        cursor: pointer;
      }
    }
    .active-like-img {
      width: 32px;
      height: 32px;
      &:hover {
        transition: 0.2s;
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  img {
    width: 160px;
    height: 160px;
    @media screen and (max-width: 1024px) {
      width: 120px;
      height: 120px;
    }

    @media screen and (max-width: 992px) {
      width: 140px;
      height: 140px;
    }

    @media screen and (max-width: 576px) {
      width: 104px;
      height: 104px;
    }
  }

  h1 {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
    height: 48px;
    width: 100%;
    @media screen and (max-width: 1024px) {
      font-size: 15px;
      height: 55px;
    }

    @media screen and (max-width: 992px) {
      font-size: 16px;
    }
  }
  p {
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    width: 100%;
    height: 24px;
    @media screen and (max-width: 1024px) {
    }

  }

  .buy-btn {
    width: 100%;
    max-width: 188px;
    height: 48px;
    background-color: black;
    border: 1px solid #000;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;

    @media screen and (max-width: 1024px) {
      margin-top: 16px;
    }

    @media screen and (max-width: 992px) {
      margin-top: 24px;
    }

    &:hover {
      background-color: #fff;
      border: 1px solid #000;
      color: #000;
    }
  }
  .link-btn {
    width: 100%;
    max-width: 188px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #000;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;


    @media screen and (max-width: 1024px) {
      margin-top: 16px;
    }

    @media screen and (max-width: 992px) {
      margin-top: 24px;
    }
    .link{
      color: #000000;
      text-decoration: none;
    }
  }
}