.products {
  justify-content: space-between;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #EBEBEB;


  .cart-items{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 13px;
    padding: 16px;

    h1{
      font-family: Inter, 'sans-serif';
      font-weight: 500;
      font-size: 20px;
      line-height: 16px;
      padding: 32px 24px 24px;
    }

    .cart-item{
      width: 464px;
      height: 72px;
      border-radius: 13px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 16px;
      gap: 16px;
      display: flex;
background-color: #F6F6F6;
      figure {
      height: 40px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .item-details{

      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000000;
      padding-right: 24px;
      width: 100%;
      h3{
        font-family: Inter, 'sans-serif';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
      span{
        font-family: Inter, 'sans-serif';
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
      }
    }
  }
}
  .address-payment{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 32px;
   .info{
            display: flex;
            flex-direction: column;
            gap: 16px;
        .address{
                display: flex;
                flex-direction: column;
                gap: 8px;
                span{
                    font-family: Inter,'sans-serif' ;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #545454;
                }
                p{
                    font-family: Inter,'sans-serif' ;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    vertical-align: middle;
                    color: #000000;
                  padding-top: 12px;
                  padding-bottom: 12px;
                }
            }
        }
    .summary-box {
gap: 16px;
      display: flex;
      flex-direction: column;
        .total {
                display: flex;
                justify-content: space-between;

                p {
                    font-family: Inter, 'sans-serif';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 32px;
                }
                span {
                    font-family: Inter, 'sans-serif';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    vertical-align: bottom;
                    color: #000000;
                }
            }
        .tax {
                display: flex;
                justify-content: space-between;
                span {
                    font-family: Inter, 'sans-serif';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    vertical-align: bottom;
                    color: #545454;
                }
                p {
                    font-family: Inter, 'sans-serif';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 32px;
                }
            }
        } }
    }

