// Define global color variables
$bg-color-dark: #111; // Dark mode background
$bg-color-light: #f9f9f9; // Light mode background
$text-color-dark: #fff; // Text for dark mode
$text-color-light: #333; // Text for light mode

// Font settings
$font-primary: 'Poppins', sans-serif;
